/**
 * 节能统计筛选工具条
 */
/**
 * 节能统计工具条标题样式
 */
#energyDataStatisticalFeatureBarTitle{
	position: absolute;
	top: 13px;
	left: 6px;
	width: 540px;
	height: 25px;
}
/**
 * 节能统计工具条当前功能样式
 */
#energyDataStatisticalCurrentFunction{
	width: 220px;
	float: left;
}
/**
 * 节能统计工具条当前单位样式
 */
#energyDataStatisticalCurrentUnit{
	width: 315px;
	float: left;
}
/**
 * 节能统计工具条当前单位及当前功能样式
 */
.energyDataStatisticalFeatureBarTitleElement{
	color: #FFF;
	font-size: 16px;
	font-weight: 900;
	text-shadow:3px 3px 3px #000000;
}
/**
 * 节能统计工具条主体样式
 */
#energyDataStatisticalFeatureBarSubject{
	position: absolute;
	top: 46px;
	left: 6px;
	width: 1000px;
	height: 23px;
}
/**
 * 节能统计工具条时间跨度样式
 */
#energyDataStatisticalTimeSpan{
	line-height: 23px;
	height: 23px;
	text-align: center;
	width: 71px;
	float: left;
}
/**
 * 节能统计工具条时间跨度选择器样式
 */
#energyDataStatisticalTimeSpanSelector{
	width: 55px;
	height: 23px;
	float: left;
}
/**
 * 节能统计工具条时间控件样式
 */
#energyDataStatisticalTimePickers{
	width: 310px;
	height: 23px;
	margin-left: 10px;
	float: left;
}
/**
 * 节能统计工具条起始时间样式
 */
#energyDataStatisticalStrartTimeTitle{
	width: 43px;
	float: left;
}
/**
 * 节能统计工具条起始时间控件样式
 */
#energyDataStatisticalStartTime{
	width: 75px;
	height: 19px;
	float: left;
}
/**
 * 节能统计工具条截止时间样式
 */
#energyDataStatisticalEndTimeTitle{
	width: 30px;
	margin-left: 10px;
	float: left;
}
/**
 * 节能统计工具条截止时间控件样式
 */
#energyDataStatisticalEndTime{
	width: 75px;
	height: 19px;
	float: left;
}
/**
 * 节能统计工具条统计对象样式
 */
#energyDataStatisticalObject{
	width: 71px;
	margin-left: 5px;
	float: left;
}
/**
 * 节能统计工具条统计对象选择器样式
 */
#energyDataStatisticalObjectSelector{
	width: 82px;
	height: 23px;
	float: left;
}
/**
 * 节能统计工具条统计类型样式
 */
#energyDataStatisticalType{
	width: 71px;
	margin-left: -80px;
	float: left;
}
/**
 * 节能统计工具条统计类型选择器样式 
 */
#energyDataStatisticalTypeSelector{
	width: 120px;
	height: 23px;
	float: left;
}
/**
 * 节能统计工具条确定按钮样式
 */
#energyDataStatisticalSubButton{
	right:125px;
}
/**
 * 节能统计工具条预测按钮样式
 */
#energyDataStatisticalForecastButton{
	right:50px;
}
/**
 * 节能统计工具条确定和预测按钮样式
 */
#energyDataStatisticalSubButton,#energyDataStatisticalForecastButton{
	position: absolute;
	border: 3px solid #273238;
	color: #FFFFFF;
	top:20px;
	text-align: center;
	margin-left: 10px;
    line-height: 35px;
	width: 60px;
	height: 35px;
	border-radius: 5px;
	float: left;
}
/**
 * 节能统计工具条确定和预测按钮鼠标悬停样式
 */
#energyDataStatisticalSubButton:hover,#energyDataStatisticalForecastButton:hover{
	background-color: #FD5822;
	box-shadow: #000000 5px 5px 10px;
	text-shadow:3px 3px 3px #000000;
	cursor: pointer;
}
/**
 * 时间选择器Logo样式
 */
.energyDataStatisticalTimeLogo{
    width: 25px;
    height: 25px;
    margin-left: 5px;
    float: left;
    background : url(../../../img/main/dataAdmin/timePickerLogo.png);
}
